-page_title("sign-up")

= content_for :stripe_code do
  %script(src="https://js.stripe.com/v2/")
  :javascript
    Stripe.setPublishableKey('#{ENV["STRIPE_PUBLISHABLE_KEY"]}')
  = javascript_include_tag 'payment'

%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, html: {class: 'form-horizontal', id: 'payment-form'} do |f|
        %header
          %h1 Register
        %fieldset
          .control-group
            .col-sm-4
              = f.email_field :email, label: "Email Address"
              = f.password_field :password
              = f.text_field :full_name, label: "Full Name"
              = hidden_field_tag :invitation_token, @invitation_token

        %fieldset.credit_card
          .control-group
            .col-sm-5
              %span.payment-errors
              %label.control-label(for='credit-card-number') Credit Card Number
              %input#credit-card-number(type='text' data-stripe='number')
              %br
              %label.control-label(for='security-code') Security Code 
              %input#security-code(type='text' data-stripe="cvc")
              %br
              %label.control-label Expirey Date
              =select_month(Date.today, {add_month_numbers: true}, data: {stripe: 'exp-month'}, name: nil)
              =select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, data: {stripe: 'exp-year'},name: nil)

        %fieldset.actions.control-group.col-sm-offset-2
          .controls.col-sm-4
            %input(type='submit' value='Sign Up' class='btn')

