-page_title(@video.title)

%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover}")      
      .video_info.col-sm-3
        %header
          %h3 
            = @video.title
          %span Rating: 4.5/5.0
        %p 
          = @video.description

        .actions
          =render partial: 'play_button'

          =link_to "+ My Queue", queue_items_path(video_id: @video.id), method: 'POST', class: 'btn btn-default' unless already_queued?(@video)

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      =bootstrap_form_for [@video, @review], remote: true do |f|
       
        %fieldset
          .form-group
            %label Rate this video

            =f.select :rating, options_for_video_rating(@review.rating), include_blank: true
          .form-group
            %label Write Review
            <br />
            =f.text_area :content, rows: 6, cols:80
        %fieldset.form-group.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
      =link_to  'Cancel', @video

      %header
        %h3#reviews_count= pluralize(@video.reviews.count, 'Review')
        / %h3#reviews_count User Reviews (#{@reviews.count})
      %ul#review_list
        - @reviews.each do |review|
          =render 'reviews/display_review', review: review




  